.colorBackground {
    -fx-background-color: rgb(22, 143, 0);    
}

.textStyle {
    -fx-text-fill: #fefefe;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.panelInfo{
    -fx-background-color: #533269;
}